Repository snailuu/desktop-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, npm run lint:script, git add ., prettier --cache --write, npm run lint:style

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "npm run lint:script",
    "git add ."
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,npm,nvm})*rc}": [
    "prettier --cache --write--parser json",
    "git add ."
  ],
  "package.json": ["prettier --cache --write"],
  "*.{css,scss,html}": [
    "prettier --cache --ignore-unknown --write",
    "npm run lint:style",
    "git add ."
  ],
  "*.md": [
    "prettier --cache --ignore-unknown --write",
    "git add ."
  ]
}

🌈 style: 确定主色调+引入antv
  package.json
  pnpm-lock.yaml
  src/index.css
Due: prettier --cache --ignore-unknown --write, git add ., prettier --cache --write, npm run lint:style

✨ feat: 增加全局 loading
  package.json
  pnpm-lock.yaml
  src/components/loading/index.tsx
  src/hooks/index.ts
  src/hooks/use-selector.ts
  src/layout/loading/index.tsx
  src/store/index.ts
  src/store/layout.ts
  src/types/index.ts
  src/utils/filter.ts
Due: prettier --cache --ignore-unknown --write, npm run lint:script, git add ., prettier --cache --write

✨ feat: 增加头部组件
  package.json
  pnpm-lock.yaml
  src/components/appear-box/index.tsx
  src/components/loading/base/flex-box.ts
  src/components/loading/base/index.ts
  src/components/loading/base/utils.ts
  src/components/show/index.tsx
  src/hooks/use-format-font-size.ts
  src/hooks/use-navigate.ts
  src/hooks/use-root-font-size.ts
  src/layout/header/index.tsx
  src/types/index.ts
Due: prettier --cache --ignore-unknown --write, npm run lint:script, git add ., prettier --cache --write

✨ feat: 新增页脚(包含面包屑)
  src/components/link/index.tsx
  src/layout/footer/crumbs.tsx
  src/layout/footer/index.tsx
Due: prettier --cache --ignore-unknown --write, npm run lint:script, git add .

✨ feat: 增加侧边栏
  src/components/app-list/constant.tsx
  src/components/app-list/index.tsx
  src/components/loading/base/utils.ts
  src/components/switch/index.tsx
  src/layout/aside/aside-app-list.tsx
  src/layout/aside/index.tsx
  src/layout/index.tsx
  src/types/index.ts
Due: prettier --cache --ignore-unknown --write, npm run lint:script, git add .

✨ feat: 完成基本布局
  src/components/message/index.tsx
  src/components/sync-page-info/index.tsx
  src/constant/index.ts
  src/constant/session-key.ts
  src/layout/index.tsx
  src/utils/filter.ts
Due: prettier --cache --ignore-unknown --write, npm run lint:script, git add .

✨ feat: 完成首页的路由+布局
  .stylelintcache
  package.json
  pnpm-lock.yaml
  src/App.css
  src/App.tsx
  src/components/app-list/index.tsx
  src/components/base/flex-box.ts
  src/components/base/index.ts
  src/components/base/utils.ts
  src/index.css
  src/layout/aside/aside-app-list.tsx
  src/layout/aside/index.tsx
  src/layout/footer/crumbs.tsx
  src/layout/footer/index.tsx
  src/layout/header/index.tsx
  src/layout/index.tsx
  src/router/constant.ts
  src/router/index.tsx
  src/router/router-config.ts
  src/router/utils.ts
Due: prettier --cache --ignore-unknown --write, npm run lint:script, git add ., prettier --cache --write, npm run lint:style
